@font-face {
    font-family: "Outrunfuture-Bold";
    src: url("outrun/Outrun_future.eot?") format("eot"), url("outrun/Outrun_future.woff") format("woff"), url("outrun/Outrun_future.ttf") format("truetype"), url("outrun/Outrun_future.svg#outrunfuture") format("svg");
    font-weight: normal;
    font-style: normal;
}